body, html {
    height: 100%;
}
.row {
padding-top: 3em;
  
}

.container {
  padding-top: 3em;
  
}

.scrollspy-example {
    height: 200px; 
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/Waterdeep city.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   font-family: Arial, Helvetia, sans-serif;
    color: white;
  background-color: #333;
  margin: 0;
  padding: 0 0 5px 0;
  border-color: #bbb;
  border-style: outset;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li:last-child {
    border-right: none;
}

li {
    float: left;
 
}

li a {
    display: block;
   font-family: Arial, Helvetia, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#navbar {
    float: left;
    position: relative;
    left: -50%;
}

#iframe  {

 text-align: center; 

 } 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 63%;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
